.background {
  background-image: url("https://t3.ftcdn.net/jpg/04/11/75/88/360_F_411758816_R2mBjthRIlJvC3T5UeyMeRgjVONzl0z3.jpg");
  background-size: cover;
  font-family: Georgia, serif;
}

.background :hover {
  background-image: url("../Hero/background.jpg");
  background-size: cover;
  background-position: 25% 75%;
  color: white;
  font-weight: 400;
  transition: all 1s ease-in-out;
}

.background :hover .seeButton {
  transition: 0.4s, background-position 1s;
  --p: 100%;
  background: #111827;
  border: 0;
  border-radius: 10%;
  margin: 2%;
  padding: 2%;
  z-index: 1;
}

.seeButton {
  border-left: 10px solid white;
  border-top: 10px solid white;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  // font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;


  background: #6E6D70;
  // box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
