.sphere{
  position:absolute;
  left: 13%;
  // width: 1000px;
}

.grid{
  position:absolute;
  left: 10%;
  top: 23.5%;
  filter: invert(100%);
}

.globeContainer {
  background-image: url("https://images.unsplash.com/photo-1541280910158-c4e14f9c94a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.planetDetails {
  margin-top: 150px;
}

.list {
  height: 100px;
  left: 13%;
  color: #00ff00;
  font-family: 'Consolas';
}

.rulerX {
  position:absolute;
  left: 9.75%;
  top: 74.75%;
  height: 55px;
  filter: invert(100%);
}

.rulerY {
  position:absolute;
  left: 2.5%;
  top: 23.3%;
  height: 411px;
  filter: invert(100%);
}

.filterSearch{
  background: rgb(0,0,64);
  background: linear-gradient(21deg, rgba(0,0,64,1) 0%, rgba(0,0,0,1) 37%);
  // background-image: url('./dots.png');
  z-index: 0;
}

.search {
  z-index: 0;
}

.dots {
  position: absolute;
  left: 0%;
  top: -100%;
  z-index: -1;
}

.table {
  z-index: 2;
}

.dataGrid {
  z-index: 2;
}
